.header {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(21, 112, 21),rgba(0, 128, 0, 0.651));
  color: #ffff;
}

.nav {
  display: flex;
  }
  
  .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #ffff;
  gap: 70px;
  font-size: 12.5px;
}

.nav a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  border-radius: 50px;
  font-size: 16px;
}

.nav a:hover {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

