* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.email:focus,
.password:focus {
  outline: none;
  outline-offset: 1px;
  box-shadow: 0 0 0 2px hsl(231, 7%, 60%);
}

.notfound,
.error {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgba(165, 122, 42, 0.493);
}

