.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.input {
    font-size: 16px;
    border: 1.2px solid green;
    color: green;
}

.input:focus {
    outline: none;
    outline-offset: 1px;
    box-shadow: 0 0 0 1px green;
  }
    
.input,.btn {
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
}

.btn {
    background-image: linear-gradient(to right, rgb(21, 112, 21),rgba(0, 128, 0, 0.651));
    border: none;
    color: white;
    }


.text {
    margin-top: 7px;
    text-align: center;
}

.link {
    color: black;
}

@media only screen and (max-width:400px) {
    .container {
        width: 250px;
    }
}