.logo {
  display: flex;
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.footer-background {
  padding: 20px;
  color: white;
  background-color: black;
}

.grid-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-divide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.unordered {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.footer-header {
  margin-bottom: 15px;
  font-weight: 700;
}
